<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="container">
      <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, class: 'form-control', autofocus: true, autocomplete: "first_name" %>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, class: 'form-control', autofocus: true, autocomplete: "last_name" %>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
            <div class="invalid-feedback">
              Please enter a valid email address for shipping updates.
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :address %><br />
            <%= f.text_field :address, class: 'form-control', autofocus: true, autocomplete: "address", placeholder: '123 Oak Lane' %>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              <%= f.label :city %><br />
              <%= f.text_field :city, class: 'form-control', autofocus: true, autocomplete: "city" %>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <%= f.label :state %><br />
              <%= f.text_field :state, class: 'form-control', autofocus: true, autocomplete: "state" %>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-5 mb-3">
              <%= f.label :phonenumber %><br />
              <%= f.text_field :phonenumber, class: 'form-control', autofocus: true, autocomplete: "phonenumber" %>
              <div class="invalid-feedback">
                Please input a valid phone number.
              </div>
            </div>
              <div class="col-md-6 mb-3">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>

          </div>
          <hr class="mb-4">
        </form>
</div>
<div class=" col-sm-12">
<div class="actions">
  <%= f.submit "Sign up" %>
</div>
</div>
</div>
<% end %>
