<%= form_with(model: cost, local: true) do |form| %>
  <% if cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :costid %>
    <%= form.number_field :costid, id: :cost_costid %>
  </div>

  <div class="field">
    <%= form.label :supplierid %>
    <%= form.number_field :supplierid, id: :cost_supplierid %>
  </div>

  <div class="field">
    <%= form.label :suppliesid %>
    <%= form.number_field :suppliesid, id: :cost_suppliesid %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :cost_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
