<%= form_with(model: cost, local: true) do |form| %>
  <% if cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :cost_id %>
  </div>

  <div class="field">
    <%= form.label :supplier_id %>
    <%= form.number_field :supplier_id, id: :cost_supplier_id %>
  </div>

  <div class="field">
    <%= form.label :supply_id %>
    <%= form.number_field :supply_id, id: :cost_supply_id %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :cost_cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
