<p id="notice"><%= notice %></p>

<p>
  <strong>Costid:</strong>
  <%= @cost.id %>
</p>

<p>
  <strong>Supplierid:</strong>
  <%= @cost.supplier_id %>
</p>

<p>
  <strong>Suppliesid:</strong>
  <%= @cost.supply_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @cost.cost %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
