<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Dashboard
    </h1>
    <br/>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Inventory</h5>
        <p class="card-text">View the current inventory for all of the office's supplies.</p>
        <a href="/inventory" class="btn btn-outline-primary">View</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Staff</h5>
        <p class="card-text">View the office staff, their contact information, and recent orders.</p>
        <a href="/staff" class="btn btn-outline-primary">View</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cart</h5>
        <p class="card-text">View added supplies to the carts, update quantities, or empty cart.</p>
        <a href="/cart" class="btn btn-outline-primary">View</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
<hr/>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Our Suppliers</h1>
    <br/>
  </div>
  <br/>
  <% @suppliers.each do |supps| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <h4><%= supps.name %></h4>
        </div>
        <div class="card-body">
          <% @order_count = Order.where(:suppliersid => supps.id).count
          @order_sum = Order.where(:suppliersid => [supps.id] ).sum(:totalcost)
          %>
            <h6 class="card-title"><%= @order_count %>
              total orders, totaling $<%=number_with_precision(@order_sum, :precision => 2)%>.</h6>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= supps.address %>,
              <%= supps.city %>,
              <%= supps.state %>.</small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
