<br/>
<div class="card shopping-cart">
  <div class="card-header bg-dark text-light">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    Inventory cart
    <a href="/inventory" class="btn btn-outline-info btn-sm pull-right">View Inventory</a>
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <% if @order_items.any? %>
      <% @order_items.each do |item| %>
        <%= form_for item, remote: true do |f| %>
        <% @rez = Cost.where(:supply_id => item.supply.suppliesid).select(:cost) %>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-2 text-center">
              <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew" width="120" height="80">
            </div>
            <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
              <h4 class="product-name">
                <strong><%= item.supply.supplyname %></strong>
              </h4>
              <h4>
                <small>Product description</small>
              </h4>
              <% options = options_from_collection_for_select(Supplier.all, 'id', 'name') %>
                <%= f.select :id, options, :input_html => { class: "dropdown-menu" } %>

              </div>
              <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                  <h6>
                    <strong>$<%=number_with_precision("#{@rez.pluck(:cost).first}", :precision => 2) %>
                      <span class="text-muted">x</span></strong>
                  </h6>
                </div>
                <div class="col-4 col-sm-4 col-md-4">
                  <%= f.number_field :quantity, value: item.quantity.to_i, class: "form-control", min: 1 %>
                </div>
                <div class="col-2 col-sm-2 col-md-2 text-right">
                  <div class="btn-group">
                    <%= button_tag type: 'submit', class: "btn btn-default" do %>
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                  <% end %>

                  <%= link_to order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"}, class: "btn btn-danger" do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="pull-right"></div>
  </div>
  <div class="card-footer">
    <div class="pull-right" style="margin: 10px">
      <%= button_to "Place Order", {:method=> "placeorder"}, class: "btn btn-success pull-right" %>
      <div class="pull-right" style="margin: 5px">
        Total price:
        <b>$<%=number_with_precision("#{current_order.subtotal}", :precision => 2) %></b>
      </div>
    </div>
  </div>
</div>
</div>
<br/>

<% else %>
<br/><br/>
<div class="row">
<div class="col-sm"></div>
<div class="col-sm">
  <p id="shopcart">Your cart is empty.</p>
</div>
<div class="col-sm"></div>
</div>
</div>
<% end %>
