<!DOCTYPE html>
<html>
  <head>
    <title>Office Supplies Management</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
  <%= render "layouts/navbar" %>
  <div class="container">
    <%= yield %>
  </div>

  <footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="footer-copyright text-center py-3">© 2018: Elijah Banks, Adam Deisz, Mark McDonough, Geoffery Greiner
      </div>
    </footer>
  </body>
</html>
